/* Sección de anuncios */

/*Sección en general*/
.About-Rappi{
    width: 100;
}

/*Titulo*/
.About-Rappi .titulo{
    width: 100;
    background-color: var(--color5);
    padding: 2rem 2rem;
}

/*h3----Diseño de la etiqueta de enumeración*/
.etiqueta{
    display: flex; /*Alineación*/
    align-items: center; /*Centración*/
    font-size: 2rem; /*tamaño del texto*/
    font-weight: 400; /*Grosor del texto*/
}

/*texto span*/
.etiqueta span {
    font-weight: 900; /*grosor del texto*/
}

/*linea*/
.etiqueta hr {
    margin: 0 1rem 0 1rem;
}

.About-Rappi .titulo h2{
    font-size: 5rem;
    margin-top: 3rem; /*Margin hacia arriba*/
}

/*División de contenido*/
.contenido{
    width: 100%;
    padding: 4rem 2rem;
}

/* Parrafos del contenido*/
.contenido p {
    color: var(--color2);
    font-size: 1.4rem;
}

/*División de los botone*/
.botones {
    width: 100%;

    display: flex; /*Alineación del padre*/
    flex-direction: column; /*Se alinean los hijos en columna*/
    justify-content: center;
    align-items: center;
}

/*Primer boton*/
.botones .bt1{
    text-decoration: none; /*se resetea el diseño del boton*/
    display: block; /*Se convierte en bloque*/
    background-color: var(--color1); /*color del boton*/
    color: #fff; /*color del texto*/
    width: 20rem;
    border-radius: 10rem; /*borde para que se vea como botón*/
    padding: 1rem;
    margin-top: 3rem; /*luego se le agrega el top*/
    
    box-shadow: -2px -1px 47px -5px rgba(255, 113, 118, 1); /*Color de difuminación del boton*/
    font-size: 1.8rem;

    display: flex; /*Alienación*/
    align-items: center;
    justify-content: center;
}

/*Segundo Boton*/
.botones .bt2{
    text-decoration: none; /*se resetea el diseño del boton*/
    display: block; /*Se convierte en bloque*/
    border: 1px solid var(--color1); /*Borde del botón*/
    width: 15rem;
    border-radius: 10rem; /*borde para que se vea como botón*/
    padding: 1rem;
    margin-top: 2rem;
    color: var(--color1); /*Color del texto*/
    font-size: 1.8rem;

    display: flex; /*Alienación*/
    align-items: center;
    justify-content: center;
}
